.FairnessLabMakeFair {
  text-align: center;
}

.FairnessLabMakeFair-header {
  background-color: #5b6475;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.FairnessLabMakeFair-link {
  color: #61dafb;
}
