#title {
    font-family: arial, sans-serif;
}
  
#selectedPoints {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    max-width: 50%;
}
  
#selectedPoints td, #selectedPoints th {
    border: 1px solid #ddd;
    padding: 1px;
}
  
#selectedPoints tr:nth-child(even){background-color: #f2f2f2;}
  
#selectedPoints tr:hover {background-color: #ddd;}
  
#selectedPoints th {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: #4e87ad;
    color: white;
}